$primary-color: #2f2f2f;
$secondary-color: #594aa4;
$lightGrey: #ccc;

$errorBGcolor: #f8d7da;
$errorTextColor: #721c24;
$errorBorderColor: #f5c6cd;

$warningBGcolor: #fff3cd;
$warningTextColor: #856404;
$warningBorderColor: #ffeeba;

$succsessBGcolor: #d4edda;
$succsessTextColor: #155724;
$succsessBorderColor: #c3e6cb;
